html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  @extend %robotocondensed-500;
  font-size: 14px;
  line-height: 1.4;
  color: $text;
  background-color: #eef6ff;
  letter-spacing: 0.04em;
}

.main{
  flex-grow: 1;
}

a{
  color: $text;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}