$title: #303030;
$text: #545151;

%roboto-100{
  font-family: 'Roboto-Thin', sans-serif;
  font-weight: 100;
}

%robotocondensed-300{
  font-family: 'RobotoCondensed-Light', sans-serif;
  font-weight: 300;
}

%robotocondensed-500{
  font-family: 'RobotoCondensed-Medium', sans-serif;
  font-weight: 500;
}

%robotocondensed-700{
  font-family: 'RobotoCondensed-Bold', sans-serif;
  font-weight: 700;
}

// %radio-hidden{
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   position: absolute;
// }